<section class="module">
    <header>
        <lib-module-header header="Пользователи">
            <ng-template templateRef="headerToolbar">
                <p-button icon="pi pi-plus" label="Создать"></p-button>
            </ng-template>
        </lib-module-header>
    </header>

    <div class="content">
        <p-table [value]="users" [loading]="loadingConfig.isLoadingData">
            <ng-template pTemplate="header">
                <tr>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Отдел</th>
                    <th>Дата регистрации</th>
                    <th>Дата изменения</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-element>
                <tr (dblclick)="openCard(element)">
                    <td>
                        <span class="p-fluid">
                            <input pInputText [(ngModel)]="element.name.full">
                        </span>
                    </td>
                    <td>
                        <span class="p-fluid">
                            <input pInputText [(ngModel)]="element.email">
                        </span>
                    </td>
                    <td>
                        <span class="p-fluid">
                            <p-treeSelect #tree appendTo="body"
                                selectionMode="multiply" display="chip" [ngModel]="element.departments | arrayToTree"
                                [options]="departments" [placeholder]="'Выберите отдел'" (ngModelChange)="selectDepartment($event, element)"></p-treeSelect>
                            <!-- <p-treeSelect #tree appendTo="body" selectionMode="checkbox" display="chip"
                                [metaKeySelection]="false" [ngModel]="getUserDepartments(element.departments)" [options]="departments"
                                [placeholder]="'Выберите отдел'"
                                (ngModelChange)="selectDepartment(element)"></p-treeSelect> -->
                        </span>
                    </td>
                    <td>{{ element.createdAt | date }}</td>
                    <td>{{ element.updatedAt | date }}</td>
                    <td>
                        <div class="element-controls">
                            <p-button icon="pi pi-cog" (click)="onEdit(element)"></p-button>
                            <p-button icon="pi pi-trash" [disabled]="accSystemService.currentUser._id === element._id"
                                (click)="onDelete(element)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>

<p-dialog [header]="'Настройка прав'" styleClass="modal" [(visible)]="dialogsStage.isEditUser">
    <span [formGroup]="userRightsForm">
        <span formGroupName="system" class="checkbox__wrapper">
            <span class="checkbox__wrapper--box">
                <p-checkbox [binary]="true" formControlName="access" inputId="access"></p-checkbox>
                <label for="access">Доступ в систему</label>
            </span>
        </span>
    </span>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="updateUser()" [label]="'Обновить'" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>